<div class="col-xs-12" *ngIf="itens.length === 0;else tabelaItens">
  <p>Não há itens no carrinho. Que tal começar por <a [routerLink]="['/restaurantes']">aqui</a></p>
</div>

<ng-template #tabelaItens>
  <div class="col-xs-12 table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Quantidade</th>
          <th>Item</th>
          <th>Descrição</th>
          <th class="text-right">Subtotal</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens">
          <td class="text-center">
            <a (click)="emitDiminuirQuantidade(item)" class="btn btn-sm"><i class="fa fa-minus"></i></a>
            {{item.quantity}}
            <a (click)="emitAumentarQuantidade(item)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
          </td>
          <td>{{item.itemMenu.name}}</td>

          <td>{{item.itemMenu.description}}</td>
          <td class="text-right">{{item.value() | currency: 'BRL' : 'symbol'}}</td>
          <td class="text-right">
            <a (click)="emitRemover(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</ng-template>
