<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form novalidate [formGroup]="formularioDePedido">

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Dados do cliente:</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right has-error-block" *ngIf="formularioDePedido.hasError('emailDiferente')">
            <i class="fa fa-remove"> E-mails não conferem</i>
          </span>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo Obrigatório, pelo menos 5 caracteres." label="Nome">
            <input type="text" class="form-control" formControlName="nome" placeholder="Nome" autocomplete="off" />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="E-mail inválido." label="Email">
            <input type="text" class="form-control" formControlName="email" placeholder="Email" autocomplete="off" />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="E-mail inválido." label="Confirmação do email">
            <input type="text" class="form-control" formControlName="emailConfirmacao"
              placeholder="Confirmação do email" autocomplete="off" />
          </mt-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo Obrigatório, pelo menos 5 caracteres." label="Endereço">
            <input type="text" class="form-control" formControlName="endereco" placeholder="Endereço"
              autocomplete="off" />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Obrigatório e somente números." label="Número">
            <input type="text" class="form-control" formControlName="numero" placeholder="Número" autocomplete="off"
              pattern="^[0-9]*$">
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container>
            <input type="text" class="form-control" formControlName="enderecoOpcional" placeholder="Complemento">
          </mt-input-container>
        </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>


        <mt-itens-de-pedido [itens]="itensDoCarrinho()" (aumentarQuantidade)="aumentarQuantidade($event)"
          (diminuirQuantidade)="diminuirQuantidade($event)" (remover)="remover($event)"></mt-itens-de-pedido>


        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">

            <mt-radio [options]="opcoesDePagamento" formControlName="opcaoDePagamento">

            </mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-custos [frete]="frete" [valorDosItens]="valorDosItens()"></mt-custos>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button [disabled]="!formularioDePedido.valid || itensDoCarrinho().length === 0"
          class="btn btn-success pull-right" (click)="finalizarPedido(formularioDePedido.value)">
          <i class="fa fa-credit-card"></i> Concluir
          Pedido
        </button>
      </div>
    </div>

  </section>
</section>
